{% extends "layouts/base.njk" %}
{% block body %}
<div class="app-shell">
  {% include "partials/nav.njk" %}
  <div class="app-main">
    {% include "partials/topbar.njk" %}
    <main id="contenido" class="app-content">
      {% block content %}{% endblock %}
    </main>
  </div>
</div>
{% endblock %}
