{% extends "layouts/base.njk" %}
{% block body %}
<div class="auth-shell">
  <main class="auth-card">
    <a class="auth-brand" href="/">ds-hd</a>
    {% block content %}{% endblock %}
  </main>
</div>
{% endblock %}
